.clearfix:after { 
	content: "."; 
	visibility: hidden; 
	display: block; 
	height: 0; 
	clear: both;
}

html, body{
  	min-height: 100%;
}

body {
	font-family: Josefin Sans, Verdana, sans-serif;
	margin:0;
	padding:0;
	position: relative;
}

main {
	width: 100%;
	margin: 50px auto 0;
}

.dummy-nav {
    display: none;
    height: 100px;
}

nav {
    top: 0;
    text-align: center;
    width: 100%;
    font-size: 20px;
	height: 70px;
}

.nav-work {
	background-color: #70A9A1;
}

nav ul {
    position: absolute;
    right: 180px;
}

nav ul li {
    display: inline-block;
    margin: 25px 20px 0 0;
}

nav ul li a {
	text-decoration: none;
	font-weight: bold;
	color: white;
	font-size: 16px;
}

header {
	height: 450px;
	background-color: #70A9A1;
}

h1,
.text-title p {
	color: white;
}

h1 {
	font-family: Pacifico, Verdana, sans-serif;
	color: white;
    position: absolute;
    top: 25px;
    left: 180px;
}

h1 a {
	text-decoration: none;
	color: white;
}

h1::first-letter {
	font-size: 23px;
}

.title-container {
	position: absolute;
	top: 150px;
}

.title-container,
.logo-container,
.contact,
.contact1 {
	width: 100%;
	text-align: center;
}

.text-title {
	margin: 0 auto;
}

.text-title p {
    font-size: 20px;
    font-weight: 300;
    margin: 0 auto;
    width: 450px;
	color: #404041;
}

h2 {
	font-weight: bold;
	font-size: 20px;
}

h2, 
.quote p {
	text-align: center;
}

h2,
h3,
p,
a {
	color: #404041;
}

h3 {
	padding-bottom: 20px;
}

.h2-about {
	margin-top: 50px;
}

.h2-work {
	display: none;
}

.skills{
	margin: -15px 0 20px 0;
}

.wrap-experience h3 {
	text-align: center;
	padding: 20px 0 0 0;
}

.wrap-experience p {
	font-size: 12px;
	font-weight: lighter;
	width: 219px;
	margin: 0 auto;
}

p {
	line-height: 20px;
}

.contact p {
	width: 400px;
	margin: 50px auto 0;
}

.logo {
	position: absolute;
	width: 40px;
	height: 40px;
	top: 10px;
	margin-left: -25px;
}

hr {
	background-color: #404041;
	color: #404041;
	border-width: 0;
	height: 2px;
	margin-top: 20px;
}

.text-box {
	padding: 50px 0;
}

.experience {
	background-color: #e8e8e8;
}

.about-top {
    padding: 120px 0 0 140px;
}

.box-about-me {
	text-align: center;
	display: inline-block;
	vertical-align: top;
}

.text-about{
	display: inline-block;
	width: 400px;
	text-align: left;
    vertical-align: top;
}

.about-1 {
	padding: 50px 0 0 230px;
}

.about-2 {
    margin: 50px 50px 50px 80px;
}

#about,
.about-top {
	margin: -50px auto 0;
	width: 1200px;
}

.profielfoto {
	width: 235px;
	height: 235px;
}

.experience-container {
	text-align: center;
}
	
.wrap {
	display: inline-block;
	width: 19%;
	vertical-align: top;
}

.wrap-experience {
	padding: 2px;
}

.wrap-experience h3 {
    color: #70A9A1;
}

.btn {
	text-align: center;
}

.btn-show-less {
	text-decoration: none;
	color: white;
}

button {
	background-color: #70A9A1;
	padding: 8px;
	border-style: none;
	font-size: 14px;
	text-align: center;
	width: 150px;
	font-weight: 600;
	color: white;
	margin: 50px 0;
	border-radius: 4px;
}

.go-up {
	position: fixed;
    bottom: 0;
    right: 50px;
    width: 40px;
    height: 35px;
    background-color: #70A9A1;
    text-align: center;
}

.arrow {
	width: 20px;
	height: 20px;
	margin: 8px;
}

.linkedin,
.email {
	display: inline-block;
	width: 250px;
	margin: 50px 0 0 0;
}

.mail-icon,
.linkedin-icon {
	width: 30px;
	height: 30px;
	margin: 0 0 25px 0;
}

.image {
	width: 330px;
    height: 280px;
    background-size: cover;
}

ul.img-list {
  list-style-type: none;
  margin: 0;
  padding: 0;
  text-align: center;
}

ul.img-list li {
  display: inline-block;
  height: 280px;
  margin: 0 20px 20px 0;
  position: relative;
  width: 330px;
}

.text-content p {
	color: #70A9A1;
}

span.text-content {
  background: rgba(64,64,65,0.8);
  color: white;
  cursor: pointer;
  display: table;
  height: 280px;
  left: 0;
  position: absolute;
  top: 0;
  width: 330px;
  opacity: 0;
  -webkit-transition: opacity 500ms;
  -moz-transition: opacity 500ms;
  -o-transition: opacity 500ms;
  transition: opacity 500ms;
}

span.text-content span {
  display: table-cell;
  text-align: center;
  vertical-align: middle;
}

ul.img-list li:hover span.text-content {
  opacity: 1;
}

.image1 {
    background-image: url("../images/philips-1.png");
}

.image2 {
    background-image: url("../images/applicatie-ing.png");
}

.image3 {
    background-image: url("../images/applicatie2-ing.png");
}

.image4 {
    background-image: url("../images/poster_lefhebbers.jpg");
}

.image5 {
    background-image: url("../images/flyer-b.jpg");
}

.image6 {
    background-image: url("../images/redesign-hema2.jpg");
}

.image7 {
    background-image: url("../images/redesign-sns1.jpg");
}

.image8 {
    background-image: url("../images/brandbook-mindful.png");
}

.image9 {
    background-image: url("../images/brochure-b.png");
}

.image10 {
    background-image: url("../images/brandbook-boarnster1.jpg");
}

.image11 {
    background-image: url("../images/redesign-menzis.jpg");
}

.image12 {
    background-image: url("../images/etiket-boen.png");
}

.image13 {
    background-image: url("../images/logo-weeklywine.png");
}

.image14 {
    background-image: url("../images/presentatie-george.jpg");
}

.image15 {
    background-image: url("../images/logo-thebreakfastclub.png");
}

.image16 {
    background-image: url("../images/website-superbrand.jpg");
}

.image17 {
    background-image: url("../images/gamedesign-cmd.png");
}

.image18 {
    background-image: url("../images/dinerkaart-walvis.jpg");
}

.image19 {
    background-image: url("../images/menucard-cafelennep.png");
}

.image20 {
    background-image: url("../images/website-jgeurts.jpg");
}

.image21 {
    background-image: url("../images/flyer-kkk.png");
}

.image23 {
    background-image: url("../images/game-cqthartslag1.png");
}

.image22 {
    background-image: url("../images/menucard-katoen.png");
}

.image24 {
    background-image: url("../images/menu-ginn.png");
}

.image25 {
    background-image: url("../images/event-superopkikker.png");
}

.image26 {
    background-image: url("../images/banner-principlevastgoed.png");
}

.image27 {
    background-image: url("../images/banner-perfecth.png");
}

.image28 {
    background-image: url("../images/webdesign-sogeti1.png");
}

#work {
    margin: -170px 0 70px 0;
    position: relative;
}

#work-second,
#work-second-2,
#work-second-3,
#work-second-4 {
	display: none;
}

.go-left,
.go-right {
	position: absolute;
    top: 340px;
    width: 30px;
    height: 35px;
    background-color: #70A9A1;
    text-align: center;
}

.go-left {
	left: 0;
}

.arrow-left {
	margin: 8px 0 0 0;
}

.go-right {
    right: 0;
}

.work-container {
	display: inline-block;
	vertical-align: top;
	padding: 50px 0 0px 110px;
}

.work-container-text {
	width: 500px;
}

#header-work {
    height: 0;
}

.image-work {
	width: 600px;
    height: 550px;
    border: none;
	margin: 0 auto;
}

.text-box-work {
	padding: 80px 0 0 0;
}

.text-box-work h2 {
	font-size: 24px;
	text-align: left;
	margin: 0 0 10px 0;
}

.work-page-text p {
    margin: 0 0 20px 0;
    font-size: 14px;
}

#work-text2{
	font-style: italic;
	font-size: 12px;
	padding: 40px 0 0 0;
}

.second-title {
	font-size: 24px;
	font-weight: 300;
	color: #70A9A1;
	margin: 0 0 50px 0;
}

.work-page-text {
	width: 385px;
	margin: 0 auto;
}

.image100 {
	background-image: url("../images/webdesign-philips-allianz.png");
}

.image101 {
	background-image: url("../images/trading-ing.png");
}

.image102 {
	background-image: url("../images/building-ing.png");
}

.image103 {
	background-image: url("../images/webdesign-sns.png");
}

.image104 {
	background-image: url("../images/webdesign-hema.png");
}

.image105 {
	background-image: url("../images/brandbook-boarnsterhim.png");
}

.image106 {
	background-image: url("../images/redesign-menzis.png");
}

.image107 {
	background-image: url("../images/brochure-b.amsterdam.png");
}

.image108 {
	background-image: url("../images/webdesign-superbrand.png");
}

.image113 {
	background-image: url("../images/webdesign-jannekeg.png");
}

.image110 {
	background-image: url("../images/poster-lefhebbers1.png");
}

.image111 {
	background-image: url("../images/brandbook-mindful1.png");
}

.image109 {
	background-image: url("../images/flyer-bamsterdam.png");
}

.image112 {
	background-image: url("../images/brand-weeklywine.png");
}

.image114 {
	background-image: url("../images/logo-breakfast.png");
}

.image115 {
	background-image: url("../images/flyer-keurmerk.png");
}

.image116 {
	background-image: url("../images/gamedesign.png");
}

.image117 {
	background-image: url("../images/menucard-walvis.png");
}

.image118 {
	background-image: url("../images/menucard-lennep.png");
}

.image119 {
	background-image: url("../images/presentation-george.png");
}

.image120 {
	background-image: url("../images/etiket-boengroen.png");
}

.image121 {
	background-image: url("../images/menucard-katoen1.png");
}

.image122 {
	background-image: url("../images/game-cqthartslag.png");
}

.image123 {
	background-image: url("../images/menu-gin.png");
}

.image124 {
	background-image: url("../images/banners-principlevastgoed.png");
}

.image125 {
	background-image: url("../images/banners-perfecth.png");
}

.image126 {
	background-image: url("../images/event-superopkikkerdag.png");
}

.image127 {
	background-image: url("../images/webdesign-sogeti.png");
}

.image105,
.image107,
.image111{
	height: 650px;
	margin: -30px 10px 0 -10px;
}

.go-left,
.go-right {
    display: block;
}

@media (min-width: 1681px){
	
	#header-work {
	    height: 0;
	}
	
	.go-left, 
	.go-right {
	    top: 520px;
	}
	
	.image-work {
	    width: 800px;
	    height: 750px;
	}
	
	.wrap-experience h3{
		font-size: 18px;
	}
	
	.wrap-experience p {
		font-size: 15px;
	}
	
	.work-container {
    	padding: 90px 0 0px 110px;
	}
	
	.work-container-text {
    	width: 540px;
	}
	
	.text-box-work {
    	padding: 120px 0 0 90px;
	}
	
	.image105, .image107, .image111 {
		height: 850px;
	}
}

@media (min-width: 1441px) and (max-width: 1680px){
	
	#header-work {
	    height: 0;
	}

	.go-left, 
	.go-right {
	    top: 420px;
	}
	
	.text-box-work-page {
	    margin: 355px auto 0;
	}
	
	.work-philips {
	    margin: 60px auto 0;
	}
}

@media (min-width: 569px) and (max-width: 1100px) {
	
	#work {
	    display: none;
	}

	#work-second,
	#work-second-2,
	#work-second-3,
	#work-second-4 {
		display: block;
		margin: -170px 0 70px 0;
		position: relative;
	}
		
	.wrap {
	    width: 33%;
	}
	
	.text-about-right {
	    margin: 0 -70px 0 10px;
	}
	
	.text-about {
		width: 320px;
	}
	
	.text-about p {
	    padding: 20px 10px 0 0;
	}
	
	.text-about {
	    width: 340px;
	}
	
	.text-about-right {
	    margin: 0 -20px 0 40px;
	}
	
	.work-philips {
	    margin: 65px auto 0;
	    position: initial;
		width: 100%;
	}
	
	.text-box-work-page {
	    margin: 45px auto 0;
	    padding: 55px 0 0 0;
	}
	
	h1 {
		left: 30px;
	}
	
	nav ul {
	    right: 30px;
	}
	
	.about-top {
	    padding: 120px 0 0 100px;
	}
	
	.about-1 {
	    padding: 50px 0 0 140px;
	}
	
	.about-2 {
	    margin: 50px 0 50px 70px;
	}
	
	#about,
	.about-top {
		width: 100%;
	}
	
	nav.nav-work ul {
	    display: block;
	}
	
	.profielfoto {
		margin: 0 30px 0 30px;
	}
}

@media (min-width: 569px) and (max-width: 800px) {
	
	h3 {
	    padding-bottom: 0px;
	}
	
	.about-top {
	    padding: 90px 0 0 0px;
	}
	
	.about-1 {
	    padding: 50px 0 0 0;
	}
	
	#about {
	   margin: -250px 0 184px 0;
	}
	
	.about-2 {
	    display: none;
	}
	
	.text-about p {
	    padding: 20px 10px 30px 0;
	}
	
	.wrap-experience p {
	    width: 209px;
	}
}

@media (min-width: 320px) and (max-width: 568px) {
	main {
	    margin: 30px auto 10px;
	}
	
	#work {
		margin: -80px 0 0 0;
		display: block;
	}

	#work-second,
	#work-second-2,
	#work-second-3,
	#work-second-4 {
		display: none;
	}
	
	header {
		height: 340px;
	}
	
	.image {
		width: 300px;
	    height: 250px;
	}
	
	ul.img-list li {
	  height: 250px;
	  margin: 0 20px 20px 0;
	  width: 300px;
	}

	span.text-content {
	  height: 250px;
	  width: 300px;
	}
	
	.hr-top {
	    margin: 20px auto;
	    width: 150px;
		height: 1px;
	}

	.nav-title {
		left: 20px;
	}
		
    nav {
	    font-size: 10px;
	}

	nav ul li {
    	width: 50px;
	}
	
	nav ul li a {
    	font-size: 12px;
	}

	nav ul {
	    margin: 44px -30px 0 0;
	    right: 80px;
	}

	.logo {
		margin-left: -9px;
	}

	.title-container {
	    top: 225px;
	}

	.text-title p {
	    font-size: 15px;
	    margin: -100px auto 0;
	    text-align: center;
	    width: 250px;
	}

	h1 {
	    font-size: 20px;
	    margin: 0;
	}
	
	h3 {
	    padding-bottom: 0px;
	}

    .h2-work {
    	margin-bottom: 30px;
	}
	
	.work-container-text {
	    width: 300px;
	}
	
	.work-container {
	    padding: 0px 0 0px 50px;
	}

    hr {
    	width: 135px;
    	margin: 20px 0 0 110px;
	}

	button {
		margin: 30px 0;
	}
	
	.quote p {
		width: 200px;
	}

	.wrap {
    	display: block;
    	width: 100%;
	}

	.wrap-experience h3 {
    	color: #70A9A1;
	}

	.hr-experience {
		width: 55px;
		margin: 20px 0 0 135px;
	}

	.text-about{
		padding: 20px;
		width: 300px;
	}
	
	.text-about p {
	    padding: 20px 0 0 0;
	}
		
	.text-about-right {
		margin: 50px 0 0 0;
	}

	.profielfoto {
	    width: 175px;
	    height: 175px;
		margin: 0 0 0 60px;
	}

	.contact p {
    	width: 280px;
    	margin: 30px auto 0;
	}

	.mail-icon, .linkedin-icon {
    	margin: 0 0 5px 0;
	}

	.wrap-experience p {
    	margin: -18px auto 0;
	}
	
	.work-philips {
	    margin: 75px auto 0;
	    position: initial;
		width: 100%;
	}
	
	.text-box-work-page {
	    margin: -25px auto 0;
	    padding: 25px 0 0 0;
	}
	
	.image-work {
	    width: 300px;
	    height: 250px;
	}
	
	.image105, .image107, .image111 {
	    height: 320px;
	    margin: -15px 10px 0 -10px;
	}
	
	.work-page-text {
	    width: 285px;
	}
	
	.text-work-items {
		font-size: 12px;
	}
	
	.second-title {
	    margin: 0 0 25px 0;
	}
	
	nav.nav-work ul,
	div.go-left,
	div.go-right {
	    display: none;
	}
	
	.box-about-me {
		display: block;
		text-align: left;
	}
	
	.about-1 {
	    padding: 50px 0 0 0;
	}
	
	.about-2 {
	    display: none;
	}
	
	#about,
	.about-top {
	    margin: -55px 0 0 -90px;
	    width: 305px;
	    height: 330px;
	}
	
	.about-next {
		margin: 600px 0 -240px -304px;
	}
}
