<!DOCTYPE html>
<html data-ng-app="app">
<head>
    <meta charset="utf-8">
	<script src="https://ajax.googleapis.com/ajax/libs/angularjs/1.4.7/angular.min.js"></script>
	<script src="https://ajax.googleapis.com/ajax/libs/angularjs/1.4.7/angular-touch.min.js"></script>
	<script src="https://ajax.googleapis.com/ajax/libs/angularjs/1.4.7/angular-resource.js"></script>
	<script src="https://ajax.googleapis.com/ajax/libs/angularjs/1.4.7/angular-animate.js"></script>
	<script src="https://code.jquery.com/jquery-2.1.4.min.js"></script>
	<script src="js/app.js"></script>
	<link rel="stylesheet" type="text/css" href="http://fonts.googleapis.com/css?family=Oswald|Pacifico|Josefin+Sans&subset=latin,latin-ext">
	<link rel="stylesheet" type="text/css" href="css/reset.css"/>
	<link rel="stylesheet" type="text/css" href="css/style.css"/>
	<link rel="shortcut icon" href="/images/favicon.ico" type="image/x-icon" />
	<meta name="viewport" content="width=device-width, initial-scale=1">
	<title>Portfolio Livia Rickli</title>
</head>		
<body ng-controller="mainCtrl">
<div ng-show="showMenu" class="overlay fade" ng-click="showMenu=false"></div>
<header id="home">
	<div class="dummy-nav"></div>
	<nav>
		<h1 class="nav-title"><a href="index.html">&nbsp;Livia Rickli&nbsp;</a></h1>
		<button class="c-hamburger c-hamburger--htx" ng-click="showMenu=!showMenu" ng-class="{isactive:showMenu}">
			<span>toggle menu</span>
		</button>
		<ul id="menu" ng-show="showMenu" class="slideIn" >  			
  			<li><a href="web.html">Web design</a></li>
			<li><a href="app.html">App design</a></li>
			<li><a href="print.html">Print design</a></li>
  			<li><a href="about.html">About</a></li>
		</ul>
		<ul class="menu-static">
  			<li><a href="web.html">Web design</a></li>
			<li><a href="app.html">App design</a></li>
			<li><a href="print.html">Print design</a></li>
  			<li><a href="about.html">About</a></li>
		</ul>
	</nav>
	<div class="about-top">
		<div class="box-about-me">
			<img src="images/profiel.png" alt="Profile picture" class="profielfoto">
		</div>
		<div class="box-about-me about-1">
			<div class="text-about">
				<h3>WHAT I DO</h3>
				<p>I currently work for <a href="http://www.raet.nl" target="_blank">Raet</a> (seconded from <a href="http://sogeti.nl" target="_blank">Sogeti</a>) as UX Designer. I create interaction models and designs for digital channels and new digital concepts.<br><br>
					I’m always up for new challenges, so <a href="#contact">get in touch</a> if you 
					think we’d make wonderful things together.</p>
			</div>
		</div>
	</div>
</header>
<main>
<section id="about">
		<div class="box-about-me">
			<div class="text-about about-2">
				<h3>BACKGROUND</h3>
				<p>I was born in Switzerland (Lachen) and moved to the Netherlands when I was 3 years old.  I have a twin brother and a older brother, whom I love very much. For me family and friends are always number one.<br><br>
				When I was 12 I became a professional athlete (basketball), for this I trained nearly every day. Therefore I moved a lot, but because of that I got to know a lot of people and places. Eventually I ended up in Amsterdam, where I’m enjoying myself immensely.</p>
			</div>
			<div class="text-about about-2 about-next">
				<h3>EXPERIENCE</h3>
				<p>As a former professional athlete (basketball) I have a lot of experience working in teams and taking my responsibilities within a team. In addition, I also worked as a Speech therapist, for which I completed a bachelor's degree. In this role I developed good presentation and communication skills.<br><br>
				In 2012 I started my second bachelor Communication and Multimedia Design. I’m very happy that I made a career switch, because I think it's very important to do what makes you happy.</p>
			</div>
		</div>
</section>	
<section>
	<div class="text-box experience">
		<h2 class="skills">SKILLS</h2>
	<div class="experience-container">
		<div class="wrap">
			<div class="wrap-experience">
				<div>
					<h3>SOFTWARE<h3>
					<p>Balsamiq, Sketch, Photoshop, Illustrator, InVision and Adobe Experience Design</p>
				</div>	
			</div>
		</div>
		<div class="wrap">
			<div class="wrap-experience">
					<h3>MOBILE DESIGN<h3>
					<p>iOS, Android and Windows</p>
			</div>
		</div>
		<div class="wrap">
			<div class="wrap-experience">
					<h3>UX & UI<h3>
					<p>User research, Wireframing, Concept Development, Interaction design and Prototyping</p>
			</div>
		</div>
		<div class="wrap">
			<div class="wrap-experience">
					<h3>WEB DESIGN<h3>
					<p>Responsive & Adaptive design, SEO, HTML5 and CSS3</p>
			</div>
		</div>
		<div class="wrap">
			<div class="wrap-experience">
					<h3>PRINT DESIGN<h3>
					<p>Logos, Brand books, Flyers, Brochures, Menu cards, Writing paper and Business cards.</p>
			</div>
		</div>
	</div	
	</div>
</section>	
<section id="contact">
	<div class="text-box">
		<div class="contact">
			<h2>CONTACT</h2>
			<p>Whether you would like my services for a project, get extra information on any of my work or just say hello then I would love to hear from you.</p>
		</div>
		<div class="contact1">
			<div class="linkedin">
				<img src="images/linkedin-icon.png" class="linkedin-icon">
				<p><a href="https://nl.linkedin.com/pub/livia-rickli/20/791/858" target="_blank">Livia Rickli</a></p>
			</div>
			<div class="email">
				<img src="images/mail-icon.png" class="mail-icon">
				<p>rickli.livia@gmail.com</p>
			</div>
		</div>		
	</div>
</section>
<div class="go-up" ng-show="scrollPos > 800">
  	<a href="#home"><img src="images/arrow.png" alt="arrow" class="arrow"></a>
</div>
</main>
</body>
</html>
