<!DOCTYPE html>
<html data-ng-app="app">
<head>
    <meta charset="utf-8">
	<script src="https://ajax.googleapis.com/ajax/libs/angularjs/1.4.7/angular.min.js"></script>
	<script src="https://ajax.googleapis.com/ajax/libs/angularjs/1.4.7/angular-touch.min.js"></script>
	<script src="https://ajax.googleapis.com/ajax/libs/angularjs/1.4.7/angular-resource.js"></script>
	<script src="https://ajax.googleapis.com/ajax/libs/angularjs/1.4.7/angular-animate.js"></script>
	<script src="https://code.jquery.com/jquery-2.1.4.min.js"></script>
	<script src="js/app.js"></script>
	<link rel="stylesheet" type="text/css" href="http://fonts.googleapis.com/css?family=Oswald|Pacifico|Josefin+Sans&subset=latin,latin-ext">
	<link rel="stylesheet" type="text/css" href="css/reset.css"/>
	<link rel="stylesheet" type="text/css" href="css/style.css"/>
	<link rel="shortcut icon" href="/images/favicon.ico" type="image/x-icon" />
	<meta name="viewport" content="width=device-width, initial-scale=1">
	<title>Portfolio Livia Rickli</title>
</head>	
<body ng-controller="mainCtrl">
<div ng-show="showMenu" class="overlay fade" ng-click="showMenu=false"></div>
<header id="home">
	<div class="dummy-nav"></div>
	<nav>
		<h1 class="nav-title"><a href="index.html">&nbsp;Livia Rickli&nbsp;</a></h1>
		<button class="c-hamburger c-hamburger--htx" ng-click="showMenu=!showMenu" ng-class="{isactive:showMenu}">
			<span>toggle menu</span>
		</button>
		<ul id="menu" ng-show="showMenu" class="slideIn" >  			
  			<li><a href="web.html">Web design</a></li>
			<li><a href="app.html">App design</a></li>
			<li><a href="print.html">Print design</a></li>
  			<li><a href="about.html">About</a></li>
		</ul>
		<ul class="menu-static">
  			<li><a href="web.html">Web design</a></li>
			<li><a href="app.html">App design</a></li>
			<li><a href="print.html">Print design</a></li>
  			<li><a href="about.html">About</a></li>
		</ul>
	</nav>
	<div class="title-container">
		<div class="text-title">
			<p>I am a UX & UI designer, currently living in Amsterdam, with 
				a passion for creating online & offline designs that are useful, 
				distinctive and meaningful to users.</p>
		</div>
	</div>
</header>
<main>
<section id="work">
		<h2 class="h2-work">WORK</h2>
		<ul class="img-list">
		  <li>
		    <a href="work.html?page=27">
		      <div class="image image25"></div>
		      <span class="text-content"><span>Sogeti Super Opkikkerdag<br><br><p>Flyer & Organisation</p></span></span>
		    </a>
		  </li>
		  <li>
		    <a href="work.html?page=8">
		      <div class="image image9"></div>
		      <span class="text-content"><span>B.amsterdam<br><br><p>Brochure</p></span></span>
		    </a>
		  </li>
		  <li>
		    <a href="work.html?page=11">
		      <div class="image image10"></div>
		      <span class="text-content"><span>Boarnsterhimstate<br><br><p>Brandbook</p></span></span>
		    </a>
		  </li>
  		</ul>
  		<ul class="img-list">
		  <li>
		    <a href="work.html?page=12">
		      <div class="image image8"></div>
		      <span class="text-content"><span>Mindful<br><br><p>Brandbook</p></span></span>
		    </a>
		  </li>
			  <li>
			    <a href="work.html?page=13">
			      <div class="image image13"></div>
			      <span class="text-content"><span>Weekly Wine<br><br><p>Logo</p></span></span>
			    </a>
			  </li>
			  <li>
			    <a href="work.html?page=14">
			      <div class="image image4"></div>
			      <span class="text-content"><span>Lefhebbers<br><br><p>Poster</p></span></span>
			    </a>
			  </li>
	  		</ul>
	  		<ul class="img-list">
			  <li>
	  		    <a href="work.html?page=15">
	  		      <div class="image image5"></div>
	  		      <span class="text-content"><span>B.amsterdam<br><br><p>Poster</p></span></span>
	  		    </a>
	  		  </li>
			  <li>
			    <a href="work.html?page=16">
			      <div class="image image21"></div>
			      <span class="text-content"><span>Koken voor kinderen<br><br><p>Logo|Pitch|Flyer</p></span></span>
			    </a>
			  </li>
			  <li>
			    <a href="work.html?page=17">
			      <div class="image image15"></div>
			      <span class="text-content"><span>B.amsterdam<br><br><p>Logo</p></span></span>
			    </a>
			  </li>
	  		</ul>
	  		<ul class="img-list">
			  <li>
			    <a href="work.html?page=18">
			      <div class="image image17"></div>
			      <span class="text-content"><span>Studie CMD<br><br><p>Gamedesign</p></span></span>
			    </a>
			  </li>
			  <li>
			    <a href="work.html?page=19">
			      <div class="image image19"></div>
			      <span class="text-content"><span>Cafe Lennep<br><br><p>Design menu card</p></span></span>
			    </a>
			  </li>
			  <li>
			    <a href="work.html?page=20">
			      <div class="image image14"></div>
			      <span class="text-content"><span>George<br><br><p>Presentation</p></span></span>
			    </a>
			  </li>
	  		</ul>
	  		<ul class="img-list">
			  <li>
			    <a href="work.html?page=21">
			      <div class="image image18"></div>
			      <span class="text-content"><span>Cafe de Walvis<br><br><p>Design menu card</p></span></span>
			    </a>
			  </li>
			  <li>
			    <a href="work.html?page=22">
			      <div class="image image22"></div>
			      <span class="text-content"><span>Katoen<br><br><p>Design menu card</p></span></span>
			    </a>
			  </li>
			  <li>
  				  <a href="work.html?page=23">
  					  <div class="image image26"></div>
  		      		  <span class="text-content"><span>Principle Vastgoed<br><br><p>Banners</p></span></span>
  		    	  </a>
  		 	  </li>
	  		</ul>
	  		<ul class="img-list">
  		  	  <li>
  				  <a href="work.html?page=24">
  					  <div class="image image27"></div>
  		      		  <span class="text-content"><span>Perfect Housing<br><br><p>Banners</p></span></span>
  		    	  </a>
  		 	  </li>
  		  	  <li>
  				  <a href="work.html?page=25">
  					  <div class="image image12"></div>
  		      		  <span class="text-content"><span>BoenGroen<br><br><p>Label</p></span></span>
  		    	  </a>
  		 	  </li>
  		  	  <li>
  				  <a href="work.html?page=26">
  					  <div class="image image24"></div>
  		      		  <span class="text-content"><span>Cafe Gruter<br><br><p>Design menu card</p></span></span>
  		    	  </a>
  		 	  </li>  
			</ul>
		</div>
</section>
<section class="work-2" id="work-second-4">
		<h2 class="h2-work">WORK</h2>
		<ul class="img-list">
		  <li>
		    <a href="work.html?page=27">
		      <div class="image image25"></div>
		      <span class="text-content"><span>Sogeti Super Opkikkerdag<br><br><p>Flyer & Organisation</p></span></span>
		    </a>
		  </li>
		  <li>
		    <a href="work.html?page=8">
		      <div class="image image9"></div>
		      <span class="text-content"><span>B.amsterdam<br><br><p>Brochure</p></span></span>
		    </a>
		  </li>
  		</ul>
  		<ul class="img-list">
		  <li>
		    <a href="work.html?page=11">
		      <div class="image image10"></div>
		      <span class="text-content"><span>Boarnsterhimstate<br><br><p>Brandbook</p></span></span>
		    </a>
		  </li>
			  <li>
			    <a href="work.html?page=12">
			      <div class="image image8"></div>
			      <span class="text-content"><span>Mindful<br><br><p>Brandbook</p></span></span>
			    </a>
			  </li>
	  		</ul>
	  		<ul class="img-list">
			  <li>
			    <a href="work.html?page=13">
			      <div class="image image13"></div>
			      <span class="text-content"><span>Weekly Wine<br><br><p>Logo</p></span></span>
			    </a>
			  </li>
			  <li>
			    <a href="work.html?page=14">
			      <div class="image image4"></div>
			      <span class="text-content"><span>Lefhebbers<br><br><p>Poster</p></span></span>
			    </a>
			  </li>
	  		</ul>
	  		<ul class="img-list">
			  <li>
	  		    <a href="work.html?page=15">
	  		      <div class="image image5"></div>
	  		      <span class="text-content"><span>B.amsterdam<br><br><p>Poster</p></span></span>
	  		    </a>
	  		  </li>
			  <li>
			    <a href="work.html?page=16">
			      <div class="image image21"></div>
			      <span class="text-content"><span>Koken voor kinderen<br><br><p>Logo|Pitch|Flyer</p></span></span>
			    </a>
			  </li>
	  		</ul>
	  		<ul class="img-list">
			  <li>
			    <a href="work.html?page=17">
			      <div class="image image15"></div>
			      <span class="text-content"><span>B.amsterdam<br><br><p>Logo</p></span></span>
			    </a>
			  </li>
			  <li>
			    <a href="work.html?page=18">
			      <div class="image image17"></div>
			      <span class="text-content"><span>Studie CMD<br><br><p>Gamedesign</p></span></span>
			    </a>
			  </li>
	  		</ul>
	  		<ul class="img-list">
			  <li>
			    <a href="work.html?page=19">
			      <div class="image image19"></div>
			      <span class="text-content"><span>Cafe Lennep<br><br><p>Design menu card</p></span></span>
			    </a>
			  </li>
			  <li>
			    <a href="work.html?page=20">
			      <div class="image image14"></div>
			      <span class="text-content"><span>George<br><br><p>Presentation</p></span></span>
			    </a>
			  </li>
	  		</ul>
	  		<ul class="img-list">
			  <li>
			    <a href="work.html?page=21">
			      <div class="image image18"></div>
			      <span class="text-content"><span>Cafe de Walvis<br><br><p>Design menu card</p></span></span>
			    </a>
			  </li>
			  <li>
			    <a href="work.html?page=22">
			      <div class="image image22"></div>
			      <span class="text-content"><span>Katoen<br><br><p>Design menu card</p></span></span>
			    </a>
			  </li>
	  		</ul>
	  		<ul class="img-list">
			  <li>
  				  <a href="work.html?page=23">
  					  <div class="image image26"></div>
  		      		  <span class="text-content"><span>Principle Vastgoed<br><br><p>Banners</p></span></span>
  		    	  </a>
  		 	  </li>
  		  	  <li>
  				  <a href="work.html?page=24">
  					  <div class="image image27"></div>
  		      		  <span class="text-content"><span>Perfect Housing<br><br><p>Banners</p></span></span>
  		    	  </a>
  		 	  </li>
	  		</ul>
	  		<ul class="img-list">
  		  	  <li>
  				  <a href="work.html?page=25">
  					  <div class="image image12"></div>
  		      		  <span class="text-content"><span>BoenGroen<br><br><p>Label</p></span></span>
  		    	  </a>
  		 	  </li>
  		  	  <li>
  				  <a href="work.html?page=26">
  					  <div class="image image24"></div>
  		      		  <span class="text-content"><span>Cafe Gruter<br><br><p>Design menu card</p></span></span>
  		    	  </a>
  		 	  </li>  
			</ul>
		</div>
</section>
<div class="go-up" ng-show="scrollPos > 800">
  	<a href="#home"><img src="images/arrow.png" alt="arrow" class="arrow"></a>
</div>
</main>
</body>
</html>
