html {
    box-sizing: border-box;
}

*, *:before, *:after {
    box-sizing: inherit;
}
 
section {
    width: 1000px;
    margin: 0 auto;
}

[class^="section-"] {
    float: left;
	width: 33.3%;
}

[class^=wrap-] p {
    margin: 0;
}

[class^="mod-"] {
    padding: 10px;
}

@media (max-width: 750px){

    section {
        width: 100%;
    }

    [class^="section-"] {
        width: 100%;
        float: none;
    }
}

header {
	width: 100%;
	height: 400px;
}

.modd p {
    margin: 0 20px;
    color: grey;
    letter-spacing: 2px;
}
	
.my-logo{
	background-image: url("images/my-logo-small.png");
	width: 100%;
	height: 180px;
	background-repeat: no-repeat;
}
	
.image2{
	background-image: url("images/website-jgeurts.jpg");
}

.image3{
	background-image: url("images/website-superbrandm.jpg");
}

.image4{
	background-image: url("images/dinerkaart-walvis.jpg");
}

.image5{
	background-image: url("images/poster-avondcollege.jpg");
}

.image6{
	background-image: url("images/brandbook_b.png");
}

.image7{
	background-image: url("images/brandbook-weeklywine.jpg");
}

.image8{
	background-image: url("images/dinerkaart-lennep.jpg");
}

.image9{
	background-image: url("images/brochure_ba.png");
}

.image10{
	background-image: url("images/presentatie-george.jpg");
}

.image11{
	background-image: url("images/logo-breakfastclub.jpg");
}

.image12{
	background-image: url("images/lunchkaart-katoen-en.jpg");
}

.image13{
	background-image: url("images/brandbook_m.png");
}

.image14{
	background-image: url("images/gamedesign_cmd.png");
}

.image1,
.image2,
.image3,
.image4,
.image5,
.image6,
.image7,
.image8,
.image9,
.image10,
.image11,
.image12,
.image13,
.image14 {
	width: 100%;
	height: 250px;
	background-size: cover;
}

h2{
	font-size: 14px;
}